<!-- index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Go + htmx Project</title>
  <script src="https://unpkg.com/htmx.org@1.7.0/dist/htmx.js"></script>
</head>

<body>
  <h1>Hello, Go + htmx!</h1>

  <form>

  </form>
  <input type="text" name="information">
  <button hx-post="/send-information" hx-include="[name='information']" hx-target="#see-results">Send</button>

  <div id="see-results"></div>
</body>

</html>
